:root {
  --color-white: white;
  --color-y: hsl(71, 73%, 54%);
  --color-blue: hsl(179, 62%, 43%);
  --padding-30: 30px;
  --padding-50: 50px;
}
body {
  font-family: "Karla", sans-serif;
  background-color: #eee;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 678px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.box .container {
  width: 740px;
  margin: 66px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box .container .card-1 {
  background-color: var(--color-white);
  padding: var(--padding-30);
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.box .container .card-1 h2 {
  margin-top: 0;
  color: var(--color-blue);
  font-size: 30px;
}

.box .container .card-1 h4 {
  color: var(--color-y);
  font-size: 22px;
}

.box .container .card-1 p {
  color: #777;
  font-size: 19px;
}

.box .container .card-2 {
  display: flex;
  justify-content: space-between;
}

.box .container .card-2 .card-2-1 {
  flex-basis: 50%;
  padding: var(--padding-30);
  background-color: var(--color-blue);
  border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
}

.box .container .card-2 .card-2-1 h5 {
  font-size: 20px;
  color: var(--color-white);
  margin-bottom: 15px;
  margin-top: 7px;
}

.box .container .card-2 .card-2-1 span {
  color: var(--color-white);
}

.box .container .card-2 .card-2-1 span .try {
  color: antiquewhite;
  font-size: 35px;
  font-weight: 900;
}

.box .container .card-2 .card-2-1 p {
  margin-bottom: 35px;
}

.box .container .card-2 .card-2-1 div {
  background-color: var(--color-y);
  padding: 10px var(--padding-30);
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.box .container .card-2 .card-2-2 {
  flex-basis: 50%;
  padding: var(--padding-30);
  background-color: hsl(179deg 62% 43% / 82%);
  border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
}

.box .container .card-2 .card-2-2 h5 {
  color: var(--color-white);
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.box .container .card-2 .card-2-2 p {
  color: var(--color-white);
  line-height: 1.6;
  font-size: 14px;
}

@media (max-width: 767px) {
  .box .container .card-1 {
    padding: var(--padding-50);
  }
  .box .container .card-2 {
    flex-direction: column;
  }

  .box .container {
    width: 89%;
  }
  .box .container .card-1 h2 {
    font-size: 22px;
  }
  .box .container .card-1 h4 {
    font-size: 16px;
  }
  .box .container .card-1 p {
    font-size: 13px;
  }
  .box .container .card-2 .card-2-1 {
    padding: var(--padding-50);
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
  }
  .box .container .card-2 .card-2-2 {
    padding: var(--padding-50);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
  }
}
